html { width:100%; height:100%; margin:0px; }
body { width:100%; height:100%; margin:0px; }

html {
    background-color: rgb(68, 68, 68);
}

body {
    user-select: none;
}

div.images-row {
    display: flex;
    flex-wrap: wrap;
}

div.images-row1-container1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#image-wall-of-china-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-wall-of-china {
    display: block;
    background-image: url(images_folder/images-wall-of-china.jpg);
    background-size: 100%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
}

#image-golden-temple-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-golden-temple {
    display: block;
    background-image: url(images_folder/images-golden-temple-india.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-x: right;
}

div.images-row1-container2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#image-taj-mahal-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-taj-mahal {
    display: block;
    background-image: url(images_folder/images-taj-mahal-india.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-seoul-container {
    display: flex;
    flex: 1;
    margin-left: 35px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-seoul {
    display: block;
    background-image: url(images_folder/images-seoul-south-korea.webp);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

div.images-row1-container3 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#image-mt-yoshino-container {
    display: flex;
    flex: 1;
    margin-left: 15px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-mt-yoshino {
    display: block;
    background-image: url(images_folder/images-mt-yoshino.webp);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 500px;
    width: 350px;
    background-position-x: right;
}

div.images-row1-container4 {
    display: flex;
    flex: 1;
}

#image-nachi-shrine-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-nachi-shrine {
    display: block;
    background-image: url(images_folder/images-nachi-shrine-japan.webp);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 400px;
    width: 375px;
}

#image-gyeongju-south-korea-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-gyeongju-south-korea {
    display: block;
    background-image: url(images_folder/images-gyeongju-south-korea.webp);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 400px;
}

#image-shanghai-container {
    display: flex;
    flex: 1;
    margin-right: 15px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-shanghai {
    display: block;
    background-image: url(images_folder/images-shanghai-china.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
}

.captions {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.footer {
    height: 30px;
}

@media screen and (max-width: 1437px) {
    div.images-row1-container4 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 670px) {

    #image-wall-of-china-container {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-golden-temple-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-taj-mahal-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-seoul-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-mt-yoshino-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-nachi-shrine-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-gyeongju-south-korea-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-shanghai-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
 
    div.image-wall-of-china {
        height: 160px;
        width: 280px;
    }

    div.image-golden-temple {
        height: 160px;
        width: 280px;
    }

    div.image-taj-mahal {
        height: 160px;
        width: 280px;
    }

    div.image-seoul {
        height: 160px;
        width: 280px;
    }

    div.image-mt-yoshino {
        height: 400px;
        width: 280px;
    }

    div.image-nachi-shrine {
        height: 400px;
        width: 280px;
        background-position: center;
    }

    div.image-gyeongju-south-korea {
        height: 350px;
        width: 280px;
    }

    div.image-shanghai {
        height: 160px;
        width: 280px;
    }

    #nachi-shrine-caption {
        font-size: 18px;
    }
}