html { width:100%; height:100%; margin:0px; }
body { width:100%; height:100%; margin:0px; }

html {
    background-color: rgb(68, 68, 68);
}

div.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    height: fit-content;
    border-top: 3px solid rgb(106, 106, 106);
}

p.footer-made-by {
    color: white;
    font-size: 13px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p.footer-county {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    user-select: none;
}

div.images-row {
    display: flex;
    flex-wrap: wrap;
}

div.images-row1-container1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

#image-arabia1-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia1 {
    display: block;
    background-image: url(images_folder/arabia1.jpg);
    background-size: 110%;
    background-position-y: -40px;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
}

#image-Korea1-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea1 {
    display: block;
    background-image: url(images_folder/Korea1.jpg);
    background-size: 100%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
}

#image-columbia1-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia1 {
    display: block;
    background-image: url(images_folder/columbia1.jpg);
    background-size: 130%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
}

#image-arabia4-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia4 {
    display: block;
    background-image: url(images_folder/arabia4.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-x: right;
    background-position-y: -60px;
}

#image-nigeria1-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-nigeria1 {
    display: block;
    background-image: url(images_folder/nigeria1.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-x: right;
    background-position-y: -60px;
}

#image-columbia7-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia7 {
    display: block;
    background-image: url(images_folder/columbia7.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-y: -45px;
}

#image-Korea9-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea9 {
    display: block;
    background-image: url(images_folder/Korea9.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 420px;
    width: 470px;
}

div.images-row1-container2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#image-arabia2-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia2 {
    display: block;
    background-image: url(images_folder/arabia2.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-Korea3-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea3 {
    display: block;
    background-image: url(images_folder/Korea3.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-nigeria2-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-nigeria2 {
    display: block;
    background-image: url(images_folder/nigeria2.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}


#image-columbia6-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia6 {
    display: block;
    background-image: url(images_folder/columbia6.jpg);
    background-size: 110%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-x: -50px;
    background-position-y: -40px;
}

#image-columbia3-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia3 {
    display: block;
    background-image: url(images_folder/columbia3.jpg);
    background-size: cover;
    background-position-y: -20px;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-arabia3-container {
    display: flex;
    flex: 1;
    margin-left: 35px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia3 {
    display: block;
    background-image: url(images_folder/arabia3.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-y: -60px;
}

#image-Korea4-container {
    display: flex;
    flex: 1;
    margin-left: 35px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea4 {
    display: block;
    background-image: url(images_folder/Korea4.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-y: -60px;
}

div.images-row1-container3 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#image-Korea7-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea7 {
    display: block;
    background-image: url(images_folder/Korea7.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-columbia8-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia8 {
    display: block;
    background-image: url(images_folder/columbia8.jpg);
    background-size: 140%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-y: -190px;
    background-position-x: -100px;
}

#image-arabia6-container {
    display: flex;
    flex: 1;
    margin-left: 15px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia6 {
    display: block;
    background-image: url(images_folder/arabia6.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 500px;
    width: 350px;
    background-position-x: right;
}

#image-Korea8-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea8 {
    display: block;
    background-image: url(images_folder/Korea8.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-Korea2-container {
    display: flex;
    flex: 1;
    margin-left: 15px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea2 {
    display: block;
    background-image: url(images_folder/Korea2.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 500px;
    width: 350px;
    background-position-x: right;
}

#image-nigeria3-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-nigeria3 {
    display: block;
    background-image: url(images_folder/nigeria3.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-columbia4-container {
    display: flex;
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia4 {
    display: block;
    background-image: url(images_folder/columbia4.jpg);
    background-size: 110%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-x: -50px;
    background-position-y: -40px;
}

div.images-row1-container4 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#image-arabia7-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia7 {
    display: block;
    background-image: url(images_folder/arabia7.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 400px;
    width: 375px;
    background-position-y: -70px;
}

#image-nigeria4-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-nigeria4 {
    display: block;
    background-image: url(images_folder/nigeria4.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
}

#image-columbia9-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia9 {
    display: block;
    background-image: url(images_folder/columbia9.jpg);
    background-size: 120%;
    background-position-y: -110px;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 460px;
    width: 370px;
}


#image-Korea5-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-Korea5 {
    display: block;
    background-image: url(images_folder/Korea5.jpg);
    background-size: 115%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    margin-left: 25px;
    margin-right: 25px;
    background-position-y: -50px;
    background-position-x: -25px;
}

#image-arabia8-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-arabia8 {
    display: block;
    background-image: url(images_folder/arabia8.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 400px;
    background-position-y: -90px;
}

#image-columbia5-container {
    display: flex;
    flex: 1;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.image-columbia5 {
    display: block;
    background-image: url(images_folder/columbia5.jpg);
    background-size: 110%;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 500px;
    background-position-y: -60px;
    background-position-x: -30px;
}

#image-arabia5-container {
    display: flex;
    flex: 1;
    margin-right: 15px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

div.image-arabia5 {
    display: block;
    background-image: url(images_folder/arabia5.jpg);
    background-size: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 15px white;
    height: 300px;
    width: 450px;
    background-position-y: -20px;
}

.captions {
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 670px) {
    #image-arabia1-container {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea1-container {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia1-container {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-arabia4-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-nigeria1-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia7-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea9-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia3-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-arabia2-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea3-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-nigeria2-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia6-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }


    #image-arabia3-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea4-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea7-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia8-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-arabia6-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea8-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea2-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-nigeria3-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia4-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-arabia7-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-nigeria4-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia9-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-Korea5-container {
        height: 200px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.image-Korea5 {
        background-position-x: -17px;
    }

    #image-arabia8-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-columbia5-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #image-arabia5-container {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
 
    div.image-arabia1 {
        height: 160px;
        width: 280px;
        background-position-y: -50px;
    }

    div.image-Korea1 {
        height: 160px;
        width: 280px;
    }

    div.image-columbia1 {
        height: 160px;
        width: 280px;
        background-position-y: -30px;
    }

    div.image-arabia4 {
        height: 160px;
        width: 280px;
        background-position-y: -30px;
    }

    div.image-nigeria1 {
        height: 160px;
        width: 280px;
        background-position-y: -30px;
    }

    div.image-columbia7 {
        height: 160px;
        width: 280px;
        background-position-y: -30px;
    }

    div.image-Korea9 {
        height: 260px;
        width: 250px;
    }

    div.image-columbia3 {
        height: 160px;
        width: 280px;
        background-position-y: -20px;
    }

    div.image-arabia2 {
        height: 160px;
        width: 280px;
    }

    div.image-Korea3 {
        height: 160px;
        width: 280px;
    }

    div.image-nigeria2 {
        height: 160px;
        width: 280px;
    }

    div.image-columbia6 {
        height: 160px;
        width: 280px;
        background-position-x: -20px;
    }

    div.image-arabia3 {
        height: 160px;
        width: 280px;
        background-position-y: -30px;
    }

    div.image-Korea4 {
        height: 160px;
        width: 280px;
        background-position-y: -15px;
    }

    div.image-Korea7 {
        height: 160px;
        width: 280px;
    }

    div.image-columbia8 {
        height: 160px;
        width: 280px;
        background-size: 130%;
        background-position: center;
        background-position-x: -40px;
        background-position-y: -90px;
    }

    div.image-arabia6 {
        height: 300px;
        width: 230px;
        background-size: 135%;
        background-position: center;
    }

    div.image-Korea8 {
        height: 160px;
        width: 280px;
    }

    div.image-Korea2 {
        height: 330px;
        width: 230px;
    }

    div.image-nigeria3 {
        height: 160px;
        width: 280px;
    }

    div.image-columbia4 {
        height: 160px;
        width: 280px;
        background-position-x: -30px;
    }

    div.image-arabia7 {
        height: 320px;
        width: 230px;
        background-size: 120%;
        background-position: center;
        background-position-x: -30px;
    }

    div.image-nigeria4 {
        height: 160px;
        width: 280px;
    }

    div.image-columbia9 {
        height: 320px;
        width: 230px;
        background-size: 130%;
        background-position: center;
        background-position-x: 0px;
        background-position-y: -70px;
    }

    div.image-Korea5 {
        height: 400px;
        width: 280px;
    }


    div.image-arabia8 {
        height: 270px;
        width: 230px;
        background-position-y: -20px;
    }

    div.image-columbia5 {
        height: 160px;
        width: 280px;
        background-position-x: -20px;
        background-position-y: -40px;
    }

    div.image-arabia5 {
        height: 160px;
        width: 280px;
        background-position-y: -35px;
    }
}