html { width:100%; height:100%; margin:0px; }
body { width:100%; height:100%; margin:0px; }

html {
    background-color: rgb(68, 68, 68);
}

div.hoggard-background-image {
    display: flex;
    flex: 1;
    height: 400px;
    background-color: rgb(186, 82, 72);
    background-image: url(images_folder/Hoggard-gym.jpg);
    background-size: 100%;
    background-position-y: 650px;
    border-bottom: 5px solid rgb(0, 0, 0);
    align-items: center;
}

div.Multi-h1 {
    display: flex;
    flex: 1;
    justify-content: center;
}

div.Ethnic-h1 {
    display: flex;
    flex: 1;
    justify-content: center;
}

div.hoggard-logo-section {
    display: block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.hoggard-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.hoggard-logo-link {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    user-select: none;
    transition: opacity 100ms;
    transition: border-bottom 200ms;
}

a.hoggard-logo-link:hover {
    opacity: .85;
    color: rgb(0, 221, 255);
    border-radius: 5px;
    transition: opacity 100ms;
    transition: border-bottom 200ms;
    transition: color 200ms;
}

a.hoggard-logo-link:active {
    opacity: .75;
    transition: opacity 100ms;
}

div.hoggard-logo {
    height: 250px;
    width: 250px;
    background-image: url(images_folder/hoggard\ logo.png);
    background-size: cover;
}

h1.Multi {
    font-size: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .90;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    user-select: none;
}

h1.Ethnic {
    font-size: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .85;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    user-select: none;
}

div.summary-page {
    display: flex;
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

a.summary {
    font-size: 140%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    user-select: none;
}

div.culture-page {
    display: inline-block;
    width: 100%;
    background: linear-gradient(320deg, rgb(227, 52, 37), rgb(175, 45, 33), rgb(198, 81, 71));
}

div.cultures-heading {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

a.cultures {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    user-select: none;
}

div.cultures-row1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button.chinese-collapsible-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.chinese-culture {
    display: flex;
    flex: 1;
    height: 200px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, .5);
    background-image: url(images_folder/Flag-China.png);
    background-size: cover;
    background-position-y: -10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    user-select: none;
}

div.chinese-culture:hover {
    box-shadow: 4px 4px 20px rgb(255, 255, 255);
    transition: box-shadow 200ms;
}

button.japan-collapsible-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.japan-culture {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 200px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(images_folder/japan\ flag.png);
    background-size: 101%;
    background-position-y: center;
    background-position-x: center;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    user-select: none;
}

div.japan-culture:hover {
    box-shadow: 4px 4px 20px rgb(255, 255, 255);
    transition: box-shadow 200ms;
}

div.cultures-info-row1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#chinese-culture-box {
    display: none;
    flex: 1;
    margin-left: 100px;
    user-select: none;
}

#chinese-culture-info {
    display: none;
    flex: 1;
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(93, 93, 93);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    user-select: none;
}

#japan-culture-box {
    display: none;
    flex: 1;
    margin-right: 100px;
    user-select: none;
}

#japan-culture-info {
    display: none;
    flex: 1;
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(93, 93, 93);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    user-select: none;
}

div.cultures-row2 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

button.south-korea-collapsible-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.south-korea-culture {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 200px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(images_folder/south\ korea\ flag.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    user-select: none;
}

div.south-korea-culture:hover {
    box-shadow: 4px 4px 20px rgb(255, 255, 255);
    transition: box-shadow 200ms;
}

button.india-collapsible-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.india-culture {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 200px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(images_folder/india\ flag.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    user-select: none;
}

div.india-culture:hover {
    box-shadow: 4px 4px 20px rgb(255, 255, 255);
    transition: box-shadow 200ms;
}

#south-korea-culture-box {
    display: none;
    flex: 1;
    margin-left: 100px;
    user-select: none;
}

#south-korea-culture-info {
    display: none;
    flex: 1;
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(93, 93, 93);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    user-select: none;
}

#india-culture-box {
    display: none;
    flex: 1;
    margin-right: 100px;
    user-select: none;
}

#india-culture-info {
    display: none;
    flex: 1;
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 110%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(93, 93, 93);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    user-select: none;
}

div.footer {
    margin-bottom: 50px;
}

@media screen and (max-width: 1065px) {
    div.hoggard-background-image {
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-position-y: center;
    }

    div.hoggard-logo {
        height: 150px;
        width: 150px;
    }

    a.hoggard-logo-link {
        font-size: 25px;
    }

    h1.Multi {
        font-size: 70px;
    }

    h1.Ethnic {
        font-size: 70px;
    }

    div.chinese-culture {
        background-position-y: unset;
    }

    #chinese-culture-info {
        font-size: 90%;
    }

    #japan-culture-info {
        font-size: 90%;
    }

    #south-korea-culture-info {
        font-size: 90%;
    }

    #india-culture-info {
        font-size: 90%;
    }

    div.cultures-row2 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    #chinese-culture-box {
        margin-left: 30px;
    }

    #japan-culture-box {
        margin-right: 30px;
    }

    #south-korea-culture-box {
        margin-left: 30px;
    }

    #india-culture-box {
        margin-right: 30px;
    }
}

@media screen and (max-width: 900px) {

    div.hoggard-logo {
        height: 140px;
        width: 140px;
    }

    div.chinese-culture {
        height: 150px;
        min-width: 250px;
    }

    div.japan-culture {
        height: 150px;
        min-width: 250px;
    }

    div.south-korea-culture {
        height: 150px;
        min-width: 250px;
    }

    div.india-culture {
        height: 150px;
        min-width: 250px;
    }

    #chinese-culture-info {
        font-size: 85%;
    }

    #japan-culture-info {
        font-size: 85%;
    }

    #south-korea-culture-info {
        font-size: 85%;
    }

    #india-culture-info {
        font-size: 85%;
    }
}

@media screen and (max-width: 800px) {

    div.hoggard-background-image {
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-position-y: center;
    }

    div.hoggard-logo {
        height: 140px;
        width: 140px;
    }

    a.hoggard-logo-link {
        font-size: 20px;
    }

    h1.Multi {
        font-size: 50px;
    }

    h1.Ethnic {
        font-size: 50px;
    }
}

@media screen and (max-width: 750px) {

    div.hoggard-logo {
        height: 100px;
        width: 100px;
    }

    a.hoggard-logo-link {
        font-size: 15px;
    }

    h1.Multi {
        font-size: 35px;
    }

    h1.Ethnic {
        font-size: 35px;
    }

    div.cultures-row2 {
        margin-top: 50px;
    }

    div.chinese-culture {
        height: 100px;
        min-width: 160px;
    }

    div.japan-culture {
        height: 100px;
        min-width: 160px;
    }

    div.south-korea-culture {
        height: 100px;
        min-width: 160px;
    }

    div.india-culture {
        height: 100px;
        min-width: 160px;
    }

    #chinese-culture-info {
        font-size: 80%;
    }

    #japan-culture-info {
        font-size: 80%;
    }

    #south-korea-culture-info {
        font-size: 80%;
    }

    #india-culture-info {
        font-size: 80%;
    }
}

@media screen and (max-width: 560px) {
    div.hoggard-logo {
        height: 60px;
        width: 60px;
    }

    a.hoggard-logo-link {
        font-size: 15px;
    }

    a.summary {
        font-size: 100%;
    }

    a.cultures {
        font-size: 30px;
    }

    div.cultures-row2 {
        margin-top: 30px;
    }

    div.chinese-culture {
        height: 80px;
        min-width: 100px;
        margin-right: 50px;
        margin-left: 40px;
    }

    div.japan-culture {
        height: 80px;
        min-width: 100px;
        margin-left: 50px;
        margin-right: 40px;
    }

    div.south-korea-culture {
        height: 80px;
        min-width: 100px;
        margin-right: 50px;
        margin-left: 40px;
    }

    div.india-culture {
        height: 80px;
        min-width: 100px;
        margin-left: 50px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 480px) {

    a.hoggard-logo-link {
        font-size: 11px;
    }

    h1.Multi {
        font-size: 28px;
    }

    h1.Ethnic {
        font-size: 28px;
    }

    #chinese-culture-info {
        font-size: 65%;
    }

    #japan-culture-info {
        font-size: 65%;
    }

    #south-korea-culture-info {
        font-size: 65%;
    }

    #india-culture-info {
        font-size: 65%;
    }
}

@media screen and (max-width: 420px) {
    div.chinese-culture {
        height: 60px;
    }

    div.japan-culture {
        height: 60px;
    }

    div.south-korea-culture {
        height: 60px;
    }

    div.india-culture {
        height: 60px;
    }

    #chinese-culture-info {
        font-size: 50%;
    }

    #japan-culture-info {
        font-size: 50%;
    }

    #south-korea-culture-info {
        font-size: 50%;
    }

    #india-culture-info {
        font-size: 50%;
    }
}

