html { width:100%; height:100%; margin:0px; }
body { width:100%; height:100%; margin:0px; }

html {
    background-color: rgb(68, 68, 68);
}

div.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    height: fit-content;
    border-top: 3px solid rgb(106, 106, 106);
}

p.footer-made-by {
    color: white;
    font-size: 13px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p.footer-county {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

div.body-container {
    display: flex;
}

div.main-page-container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

div.left-screen-space {
    background-color: rgb(228, 228, 228);
    display: flex;
    width: 13%;
    border-right: 3px solid black;
}

div.main-page {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

div.right-screen-space {
    background-color: rgb(228, 228, 228);
    display: flex;
    width: 13%;
    border-left: 3px solid black;
}

div.club-schedule-container {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

a.club-schedule {
    color: white;
    text-shadow: 2px 2px 7px black;
    border-bottom: 3px solid white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    align-self: center;
}

div.schedule-text-container {
    display: block;
    padding-left: 15%;
    padding-right: 15%;
}

div.schedule-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a.schedule-text {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding-inline-start: 0px;
}

a.register-schedule-link {
    color: rgb(71, 139, 248);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: opacity 100ms;
}

a.register-schedule-link:hover {
    opacity: 0.85;
}

a.register-schedule-link:active {
    opacity: .65;
}

div.club-meetings-container {
    margin-top: 45px;
    margin-bottom: 15px;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

a.club-meetings {
    color: white;
    text-shadow: 2px 2px 7px black;
    border-bottom: 3px solid white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    align-self: center;
}

div.meetings-text-container {
    display: block;
    padding-left: 15%;
    padding-right: 15%;
}

div.meetings-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a.meetings-text {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding-inline-start: 0px;
}

ul {
    margin-top: 7px;
}

li {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding-inline-start: 0px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    li {
        font-size: 19px;
    }
}

@media screen and (max-width: 800px) {
    a.register-schedule-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 570px) {
    a.club-schedule {
        font-size: 26px;
    }

    a.schedule-text {
        font-size: 19px;
    }

    a.club-meetings {
        font-size: 26px;
    }

    a.meetings-text {
        font-size: 19px;
    }

    li {
        font-size: 16px;
    }

    a.register-schedule-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 440px) {
    a.schedule-text {
        font-size: 16px;
    }

    a.meetings-text {
        font-size: 16px;
    }

    li {
        font-size: 13px;
    }

    a.register-schedule-link {
        font-size: 12px;
    }
}
